# System files
.DS_Store

# VS Code
.vscode

# Excel temporary files
~$*.xlsx

# Conda Virtual Environment
.conda_config

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bcf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Large Files
ca_ev_registrations_public.csv
/data/registration/*.csv